.ChoixAprèsEnregistrement {
    scale: 200%;
    text-align: center;
    margin-top: 200px;
    align-items: center;
}
/*.titre_page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:15px;
    font-size: 20px;
    margin:0px;
    margin-inline: 10px;
}
.titre_page a{
    transition: .1s;
    margin-inline: 10px;
}
.titre_page a:hover{
    scale: 105%;
}
.titre_important{
    font-size: 50px;
}
.contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-bottom: 90px;
    display: flex;
}
/*Contenu de des paragraphes*/
/*
.Bienvenue p{
    font-size: 20px;
    margin: 5px;
}*/
/*
.paragraphe{
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(0, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    transition: .1s;
    width: 35em;
    height: 15em;
    margin-block: 3px;
    margin-inline: 7px;
    padding:10px;
    z-index: 1;
    border-radius: 100px;
}
.paragraphe > h2{
    transition: 0.2s;
    font-size: 30px;
    text-align: center;
}
.paragraphe > p{
    text-align: justify;
    font-size: 20px;
}
.paragraphe ul li{
    font-size: 20px;
}
/*
a.paragraphe{
    border-color: #0ff;
}*/
/*
a.paragraphe > ul > li{
    font-weight: normal;
}
a.paragraphe > p{
    font-weight: normal;
}
a.paragraphe:hover{
    border-color: #fff;
}
.paragraphe > a{
    color: #0ff;
}
.paragraphe:hover{
    z-index: 1;
    scale:105%;
    background-color: #222;
    border-color: rgb(0, 0, 255);
}
.paragraphe:hover > h2{
    color: #0ff;
}
.paragraphe > a:hover{
    color:#0f0;
}
.paragraphe_important{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    z-index: 0;
    background-color: rgba(35, 35, 35, 69%);
    transition: .1s;
    border: 3px solid rgb(0, 0, 169);
    box-shadow: 0 0 20px rgba(0, 0, 255, 100%);
    width: 35em;
    height: 15em;
    margin-block: 3px;
    margin-inline: 7px;
    padding:10px;
    z-index: 1;
}
.paragraphe_important:hover{
    z-index: 1;
    scale:105%;
    background-color: rgb(0, 0, 0, 0%);
    border: 3px solid rgb(0, 0, 200);
    box-shadow: 0 0 50px rgba(0, 0, 255, 100%);
}
.contact li{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 200);
}
.paragraphe_important div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paragraphe_important div > p{
    margin-right: 30px;
}
.paragraphe_important > h2{
    color: #0ff;
    transition: 0.2s;
    font-size: 30px;
    text-align: center;
}
.paragraphe_important > p{
    font-size: 20px;
}

/*
.paragraphe_important > a{
    color: #0ff;
}
.paragraphe_important:hover > a:hover{
    color: #0f0;
}
*/
