header {
    height: 50px;
    background-color: #000000;
    /* noir */
    top: 0px;
    left: 0px;
    right: 0px;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    /* positionne les éléments à droite */
    align-items: center;
    padding: 10px;
    /* ajout d'une marge intérieure autour de l'en-tête */
}

header * {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.logo {
    position: absolute;
    top: 5px;
    left: 15px;
    background-color: #000000;
    /* noir */
    border: 2px solid #ffffff;
    /* blanc */
    border-radius: 40px;
    align-items: center;
    text-decoration: none;
    transition: 1s;
    display: flex;
    padding: 5px;
    padding-right: 10px;
    font-weight: bold;
}

.logo img {
    width: 360px;
    /* Ajustez cette valeur pour changer la taille de l'image */
}

.logo:hover {
    scale: 110%;
    border-color: #ff9900;
    /* orange */
    box-shadow: 0 0 30px #ff9900;
    /* ombre orange */
}