body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.test2 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em 0;
}

.test {
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    overflow: auto;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
}

.test img {
    max-width: 340px;
    max-height: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.bouton {
    background-color: #ff9900;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bouton:hover {
    background-color: #cc7a00;
}

.test:not(:last-child) {
    margin-right: 10px;
}

/*.test3 {
    display: inline-block;
    width: auto;
    height: auto;
}*/