/*Règles de base de la page*/
section *{
font-size: 20px;
}

body{
    background-attachment: fixed;
    background-color: #bdad9e;
    padding: 0px;
    margin: 0px;
}

body *{
    border: 1px solid red;/*affiche toutes les boîtes*/

    font-family: 'Ubuntu', sans-serif;/* police et couleur du texte*/
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.bouton{
    background-color: rgba(0, 0, 0, 50%);
    border:2px solid rgb(48, 0, 69);
    color: rgb(116, 0, 169);
    margin: 5px;
    font-size: 20px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition:0.5s;
    text-decoration:none;
    font-weight: bold;
}

.bouton:hover{
    border-color:rgb(179, 0, 255);
    box-shadow: 0 0 30px rgba(48, 0, 69, 10);
    background-color: #222;
    scale: 105%;
    color:rgb(179, 0, 255);
}

#test{
    background-color: blue;
    display: inline-block;
    width: 20%;
    margin-left: 30px;
}

.test img{
    width: 20%;
}

.test2{
    text-align: center;
    height: 100%;
    position:relative;
    bottom:0%; 
}